<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>119398345036-ukrd20ikkuo68oni90on3hic4c2l1iui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.119398345036-ukrd20ikkuo68oni90on3hic4c2l1iui</string>
	<key>API_KEY</key>
	<string>AIzaSyD_CqFz6wwxNQSfyvBzmB9HwqIUVgkI-qc</string>
	<key>GCM_SENDER_ID</key>
	<string>119398345036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aqwal.aqwal</string>
	<key>PROJECT_ID</key>
	<string>aqwal-cd9c4</string>
	<key>STORAGE_BUCKET</key>
	<string>aqwal-cd9c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119398345036:ios:52df21822861f8fa2e47e9</string>
</dict>
</plist>